/*-------------------/*

-> Body // content // charts <-

/*--------------------*/

.container.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chart {
  margin: 10px 10px 0px 10px;
  padding: 0 20px 0 20px;
  background: rgba(255,255,255, 1);
  border-radius: 10px;
}

.chart > p{
  font-size: 15px;
  font-weight: bold;
}

.chart.bars {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
}

.chart.cake {
  flex-basis: 300px;
}

.cont-items.info {
  display: flex;
  justify-content: space-around;
}



.items-cake{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items-cake > .cake-texto{
  margin-top: 5px;
}
.items-cake > .cake-numbers{
  margin-top: 10px;
  font-size: 25px;
}

.cake-texto{
  color: gray;
  font-size: 15px;
  margin-top: 30px;
}

.cake-numbers{
  font-size: 17px;
  margin-top: 10px;
}

.cake.info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-cake{
  height: 175px;
}

/*-------------------/*

-> Body // content // charts // bars chart <-

/*--------------------*/

.barchart{;
  width: 100%;
  display: flex;
  flex: 1 auto;
  justify-content: center;
}

.barchart > img {
  width: 90%;
}
