html, body {
  margin: 0;
}

body {
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

/*-------------------/*

  -> Header <-

 /*--------------------*/


 .circle {
   margin: 0 10px 0 0;
   border-radius: 50px;
   height: 35px;
   width: 35px;
 }

/*-------------------/*

 -> Body <-

/*--------------------*/

.main {
  background: #ebeff2;
  display: flex;
  flex: 1 0 auto;
}

aside {
  background: white;
  flex: 0 0 175px;
  padding: 40px 0 0 20px;
  /*overflow: hidden;*/
}

/*-------------------/*

-> Body // content <-

/*--------------------*/

.container.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content.cards {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 0px 20px 0px 20px;
}

.content>h3 {
  margin: 35px 0 10px 20px;
}

.content>p {
  margin: 0 0 15px 20px;
}
